<mat-card style="margin: 20px; margin-top: 80px;">
    <mat-card-header>
        <mat-card-title>Customers</mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin-top: 10px;">
        <button mat-raised-button color="primary" (click)="onNewClick()">New Customer</button>
        <table style="margin-top: 15px;" mat-table [dataSource]="customers" class="mat-elevation-z8">
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let cust"> 
                    <button mat-icon-button (click)="editCustomer(cust)">
                        <mat-icon>mode_edit</mat-icon>
                    </button> 
                </td>
              </ng-container>

            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef> First Name </th>
              <td mat-cell *matCellDef="let cust"> {{cust.firstName}} </td>
            </ng-container>
          
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef> Last Name </th>
              <td mat-cell *matCellDef="let cust"> {{cust.lastName}} </td>
            </ng-container>
          
            <ng-container matColumnDef="nickName">
                <th mat-header-cell *matHeaderCellDef> Nickname </th>
                <td mat-cell *matCellDef="let cust"> {{cust.nickName}} </td>
              </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let cust"> {{cust.email}} </td>
            </ng-container>
          
            <ng-container matColumnDef="createdDate">
              <th mat-header-cell *matHeaderCellDef> Created Date </th>
              <td mat-cell *matCellDef="let cust"> {{cust.createdDate | date: 'medium' }} </td>
            </ng-container>

            <ng-container matColumnDef="lastUpdatedDate">
                <th mat-header-cell *matHeaderCellDef> Last Updated Date </th>
                <td mat-cell *matCellDef="let cust"> {{cust.lastUpdatedDate | date : 'medium' }} </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                (click)="rowClick(row)"
                [class.selectedRow]="selectedCustomer && row.id === selectedCustomer.id">
            </tr>
          </table>

    </mat-card-content>

</mat-card>


